{% extends "base.html" %}

{% block title %}
LearnIn
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/home.css">
{% endblock %}

{% block content %}

<div class="container">

    <section class="hero">

        <h1>LearnIn</h1>

        <p>
            Previous Year Question Papers, Notes and Mock Tests
        </p>

        <input
            id="search"
            type="text"
            placeholder="Search Exams..."
        >

    </section>


    <section>

        <h2>Popular Exams</h2>

        <div
            id="exam-container"
            class="exam-grid"
        >

        </div>

    </section>

</div>

{% endblock %}

{% block js %}
<script src="/static/js/home.js"></script>
{% endblock %}